<script src="{{ 'count-down-timer.js' | asset_url }}" defer></script>

{% liquid
  assign year = section.settings.year | default: 2050
  assign month = section.settings.month | default: 12
  assign day = section.settings.days | default: 31
  assign hours = section.settings.hours | upcase | default: '12 pm'
  assign minutes = section.settings.minutes | default: '00'
  assign seconds = section.settings.seconds | default: '00'

  assign target_date = year | append: '-' | append: month | append: '-' | append: day | append: ' ' | append: hours | append: ':' | append: minutes | append: ':' | append: seconds
%}

<count-down-timer data-end-time="{{ target_date | date: '%Y-%m-%d %H:%M:%S' }}">
  <section
    style="--background-color: {{ section.settings.background_color.settings.background }}; --text-color: {{ section.settings.background_color.settings.text }}; --button-color: {{ section.settings.background_color.settings.button }}; --button-label-color: {{ section.settings.background_color.settings.button_label }}"
    class="count-down-banner"
  >
    <div class="count-down-banner__wrapper page-width">
      <div class="count-down-banner__content">
        <!-- Count down text -->
        <div>
          <h2 class="count-down-banner__title">{{ section.settings.title }}</h2>
        </div>
        <!-- Count down timer -->
        <div class="count-down-banner__timer">
          <div class="count-down-banner__timer-item">
            <span class="count-down-banner__timer-number days">00</span>
            <span class="count-down-banner__timer-label">Days</span>
          </div>
          <div class="count-down-banner__timer-item">
            <span class="count-down-banner__timer-number hours">00</span>
            <span class="count-down-banner__timer-label">Hours</span>
          </div>
          <div class="count-down-banner__timer-item">
            <span class="count-down-banner__timer-number minutes">00</span>
            <span class="count-down-banner__timer-label">Minutes</span>
          </div>
          <div class="count-down-banner__timer-item">
            <span class="count-down-banner__timer-number seconds">00</span>
            <span class="count-down-banner__timer-label">Seconds</span>
          </div>
        </div>
        <div class="count-down-banner__action">
          <!-- count down sale message -->
          <div class="count-down-banner__message">
            <p>{{ section.settings.message }}</p>
          </div>
          <!-- Count down button -->
          <div class="count-down-banner__button ">
            <button class="count-down-banner__button-text button">
              <a href="{{ section.settings.collection_sale.url }}">{{ section.settings.button_text }}</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</count-down-timer>

<style>
  .count-down-banner {
    width: 100%;
    padding: 20px 0px;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  .count-down-banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .count-down-banner__timer {
    display: flex;
    gap: 20px;
    margin: 20px 0;
  }
  .count-down-banner__title {
    font-family: var(--font-heading-family);
    font-weight: var(--font-heading-weight);
    color: var(--text-color);
    font-size: 24px;
  }
  .count-down-banner__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .count-down-banner__button {
    flex-shrink: 0;
  }
  .count-down-banner__button-text {
    background-color: var(--button-color);
    color: var(--button-label-color);
  }
  .count-down-banner__button-text a {
    color: var(--button-label-color);
    text-decoration: none;
  }

  @media screen and (min-width: 750px) {
    .count-down-banner__content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .count-down-banner__timer {
      margin: 0;
    }
  }
</style>

{% schema %}
{
  "name": "Count Down Banner",
  "settings": [
    {
      "type": "header",
      "content": "Count Down Timer Settings"
    },
    {
      "type": "color_scheme",
      "id": "background_color",
      "label": "Background Color",
      "default": "scheme-1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Get it before it's gone!",
      "placeholder": "Add your text here"
    },
    {
      "type": "inline_richtext",
      "id": "message",
      "label": "Message"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Shop Now"
    },
    {
      "type": "collection",
      "id": "collection_sale",
      "label": "Collection for Sale"
    },
    {
      "type": "header",
      "content": "Timer Settings"
    },
    {
      "type": "number",
      "id": "year",
      "label": "Year",
      "default": 2026
    },
    {
      "type": "select",
      "id": "month",
      "label": "Month",
      "default": "12",
      "options": [
        { "value": "1", "label": "January" },
        { "value": "2", "label": "February" },
        { "value": "3", "label": "March" },
        { "value": "4", "label": "April" },
        { "value": "5", "label": "May" },
        { "value": "6", "label": "June" },
        { "value": "7", "label": "July" },
        { "value": "8", "label": "August" },
        { "value": "9", "label": "September" },
        { "value": "10", "label": "October" },
        { "value": "11", "label": "November" },
        { "value": "12", "label": "December" }
      ]
    },
    {
      "type": "select",
      "id": "days",
      "label": "Days",
      "options": [
        { "value": "0", "label": "0" },
        { "value": "1", "label": "1" },
        { "value": "2", "label": "2" },
        { "value": "3", "label": "3" },
        { "value": "4", "label": "4" },
        { "value": "5", "label": "5" },
        { "value": "6", "label": "6" },
        { "value": "7", "label": "7" },
        { "value": "8", "label": "8" },
        { "value": "9", "label": "9" },
        { "value": "10", "label": "10" },
        { "value": "11", "label": "11" },
        { "value": "12", "label": "12" },
        { "value": "13", "label": "13" },
        { "value": "14", "label": "14" },
        { "value": "15", "label": "15" },
        { "value": "16", "label": "16" },
        { "value": "17", "label": "17" },
        { "value": "18", "label": "18" },
        { "value": "19", "label": "19" },
        { "value": "20", "label": "20" },
        { "value": "21", "label": "21" },
        { "value": "22", "label": "22" },
        { "value": "23", "label": "23" },
        { "value": "24", "label": "24" },
        { "value": "25", "label": "25" },
        { "value": "26", "label": "26" },
        { "value": "27", "label": "27" },
        { "value": "28", "label": "28" },
        { "value": "29", "label": "29" },
        { "value": "30", "label": "30" },
        { "value": "31", "label": "31" }
      ],
      "default": "31"
    },
    {
      "type": "select",
      "id": "hours",
      "label": "Hours",
      "options": [
        {
          "value": "12 am",
          "label": "12 am (Midnight)"
        },
        {
          "value": "1 am",
          "label": "1 am"
        },
        {
          "value": "2 am",
          "label": "2 am"
        },
        {
          "value": "3 am",
          "label": "3 am"
        },
        {
          "value": "4 am",
          "label": "4 am"
        },
        {
          "value": "5 am",
          "label": "5 am"
        },
        {
          "value": "6 am",
          "label": "6 am"
        },
        {
          "value": "7 am",
          "label": "7 am"
        },
        {
          "value": "8 am",
          "label": "8 am"
        },
        {
          "value": "9 am",
          "label": "9 am"
        },
        {
          "value": "10 am",
          "label": "10 am"
        },
        {
          "value": "11 am",
          "label": "11 am"
        },
        {
          "value": "12 pm",
          "label": "12 pm"
        },
        {
          "value": "1 pm",
          "label": "1 pm"
        },
        {
          "value": "2 pm",
          "label": "2 pm"
        },
        {
          "value": "3 pm",
          "label": "3 pm"
        },
        {
          "value": "4 pm",
          "label": "4 pm"
        },
        {
          "value": "5 pm",
          "label": "5 pm"
        },
        {
          "value": "6 pm",
          "label": "6 pm"
        },
        {
          "value": "7 pm",
          "label": "7 pm"
        },
        {
          "value": "8 pm",
          "label": "8 pm"
        },
        {
          "value": "9 pm",
          "label": "9 pm"
        },
        {
          "value": "10 pm",
          "label": "10 pm"
        },
        {
          "value": "11 pm",
          "label": "11 pm"
        }
      ],
      "default": "12 pm"
    },
    {
      "type": "select",
      "id": "minutes",
      "label": "Minutes",
      "options": [
        {
          "value": "00",
          "label": "00"
        },
        {
          "value": "01",
          "label": "01"
        },
        {
          "value": "02",
          "label": "02"
        },
        {
          "value": "03",
          "label": "03"
        },
        {
          "value": "04",
          "label": "04"
        },
        {
          "value": "05",
          "label": "05"
        },
        {
          "value": "06",
          "label": "06"
        },
        {
          "value": "07",
          "label": "07"
        },
        {
          "value": "08",
          "label": "08"
        },
        {
          "value": "09",
          "label": "09"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "11",
          "label": "11"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "13",
          "label": "13"
        },
        {
          "value": "14",
          "label": "14"
        },
        {
          "value": "15",
          "label": "15"
        },
        { "value": "16", "label": "16" },
        { "value": "17", "label": "17" },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "19",
          "label": "19"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "21",
          "label": "21"
        },
        {
          "value": "22",
          "label": "22"
        },
        {
          "value": "23",
          "label": "23"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "25",
          "label": "25"
        },
        {
          "value": "26",
          "label": "26"
        },
        {
          "value": "27",
          "label": "27"
        },
        {
          "value": "28",
          "label": "28"
        },
        {
          "value": "29",
          "label": "29"
        },
        {
          "value": "30",
          "label": "30"
        },
        {
          "value": "31",
          "label": "31"
        },
        { "value": "32", "label": "32" },
        { "value": "33", "label": "33" },
        { "value": "34", "label": "34" },
        { "value": "35", "label": "35" },
        { "value": "36", "label": "36" },
        { "value": "37", "label": "37" },
        { "value": "38", "label": "38" },
        { "value": "39", "label": "39" },
        { "value": "40", "label": "40" },
        { "value": "41", "label": "41" },
        { "value": "42", "label": "42" },
        { "value": "43", "label": "43" },
        { "value": "44", "label": "44" },
        { "value": "45", "label": "45" },
        { "value": "46", "label": "46" },
        { "value": "47", "label": "47" },
        { "value": "48", "label": "48" },
        { "value": "49", "label": "49" },
        { "value": "50", "label": "50" },
        { "value": "51", "label": "51" },
        { "value": "52", "label": "52" },
        { "value": "53", "label": "53" },
        { "value": "54", "label": "54" },
        { "value": "55", "label": "55" },
        { "value": "56", "label": "56" },
        { "value": "57", "label": "57" },
        { "value": "58", "label": "58" },
        {
          "value": "59",
          "label": "59"
        }
      ],
      "default": "00"
    },
    {
      "type": "select",
      "id": "seconds",
      "label": "Seconds",
      "options": [
        {
          "value": "00",
          "label": "00"
        },
        {
          "value": "01",
          "label": "01"
        },
        {
          "value": "02",
          "label": "02"
        },
        {
          "value": "03",
          "label": "03"
        },
        {
          "value": "04",
          "label": "04"
        },
        {
          "value": "05",
          "label": "05"
        },
        {
          "value": "06",
          "label": "06"
        },
        {
          "value": "07",
          "label": "07"
        },
        {
          "value": "08",
          "label": "08"
        },
        {
          "value": "09",
          "label": "09"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "11",
          "label": "11"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "13",
          "label": "13"
        },
        {
          "value": "14",
          "label": "14"
        },
        {
          "value": "15",
          "label": "15"
        },
        { "value": "16", "label": "16" },
        { "value": "17", "label": "17" },
        {
          "value": "18",
          "label": "18"
        },
        {
          "value": "19",
          "label": "19"
        },
        {
          "value": "20",
          "label": "20"
        },
        {
          "value": "21",
          "label": "21"
        },
        {
          "value": "22",
          "label": "22"
        },
        {
          "value": "23",
          "label": "23"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "25",
          "label": "25"
        },
        {
          "value": "26",
          "label": "26"
        },
        {
          "value": "27",
          "label": "27"
        },
        {
          "value": "28",
          "label": "28"
        },
        {
          "value": "29",
          "label": "29"
        },
        {
          "value": "30",
          "label": "30"
        },
        {
          "value": "31",
          "label": "31"
        },
        { "value": "32", "label": "32" },
        { "value": "33", "label": "33" },
        { "value": "34", "label": "34" },
        { "value": "35", "label": "35" },
        { "value": "36", "label": "36" },
        { "value": "37", "label": "37" },
        { "value": "38", "label": "38" },
        { "value": "39", "label": "39" },
        { "value": "40", "label": "40" },
        { "value": "41", "label": "41" },
        { "value": "42", "label": "42" },
        { "value": "43", "label": "43" },
        { "value": "44", "label": "44" },
        { "value": "45", "label": "45" },
        { "value": "46", "label": "46" },
        { "value": "47", "label": "47" },
        { "value": "48", "label": "48" },
        { "value": "49", "label": "49" },
        { "value": "50", "label": "50" },
        { "value": "51", "label": "51" },
        { "value": "52", "label": "52" },
        { "value": "53", "label": "53" },
        { "value": "54", "label": "54" },
        { "value": "55", "label": "55" },
        { "value": "56", "label": "56" },
        { "value": "57", "label": "57" },
        { "value": "58", "label": "58" },
        {
          "value": "59",
          "label": "59"
        }
      ],
      "default": "00"
    }
  ],
  "presets": [
    {
      "name": "Count Down Banner"
    }
  ]
}
{% endschema %}
